
$board-max-width: 380px;
$board-size: 5;

$lion-back: rgba(52, 152, 219, 1); // blue
$lion-ghost: rgba(52, 152, 219, 0.7);
$lion-front: #fff; // white

$dragon-back: rgba(231, 76, 60, 1); // red;
$dragon-ghost: rgba(231, 76, 60, 0.7);
$dragon-front: #fff;

