
@import "../../scss/variables";

.word-input {
	max-width: $board-max-width;
	margin: auto;
	padding: 1rem;
	input {
		font-size: $board-max-width/10;
		max-width: 100%;
		text-align: center;
		-webkit-appearance: none;
		appearance: none;

		border: 1px solid #999;
	}
}