
@import "../../scss/variables";

$padding: 1rem;

.word-input {
    position: relative;
    max-width: $board-max-width;
    margin: auto;
    padding: $padding;


    form {
        display: flex;
        font-size: $board-max-width/14;


        $radius: 10px;
        border-radius: $radius;
        background: #fff;
        border: 1px solid #999;



        &::first-child {
            border-top-left-radius: $radius;
            border-bottom-left-radius: $radius;
        }

        input[type='text'] {
            flex: 1 1 auto;
            font-size: 1em;
            max-width: 100%;
            min-width: 0;
            text-align: center;
            -webkit-appearance: none;
            appearance: none;
            border: none;
            background: none;
            text-transform: uppercase;
            font-family: "Trebuchet MS", sans-serif;
            padding: 0.25em;

            &:focus {
                outline: 0;
            }
        }

        button {
            flex: 0 0 auto;
            font-family: "Trebuchet MS", sans-serif;
            appearance: none;
            border: 0;
            font-size: 1rem;
            padding: 0;
            min-width: 1.6rem;
            cursor: pointer;
            background: none;

            &:focus {
                outline: none;
            }
        }

        button.submit {
            display: flex;

            padding: 0 0.25rem;

            span {
                display: inline-block;
                background: $lion-back;
                color: $lion-front;
                font-size: 0.85rem;
                padding: 0 0.5rem;
                border-radius: $radius;
                line-height: 2rem;
                height: 2rem;
                border: 1px solid #333;
            }
        }

        button.clear {
            display: flex;

            svg {

                padding: 0 0.25rem;
            }
        }


    }

    .notification {
        position: absolute;
        margin: $padding - 0.5rem;
        top: 0; right: 0; bottom: 0; left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $lion-back;
        color: $lion-front;
        border-radius: 8px;
        cursor: pointer;
    }

}
