@import "../../scss/variables";

.word-list {
    // max-width: $board-max-width;
    margin: auto;

    .word {
        display: inline-block;
        margin: 0.25rem;
        border-radius: 6px;
        border: 1px solid #000;
        background: #e0ffe0;
        padding: 0.25rem 1rem;
        cursor: pointer;
    }

    .score {
        display: inline-block;
        margin: 0 1rem;
    }

}


@media (min-width: $media-2col ) {
    
    .word-list {
        .word {
            display: block;
        }
    }

}
