@import "../../scss/variables";


.boggle-app {
	padding-bottom: 2rem;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;


	.boggle-board-container {
		flex: 0 0 auto;
	}

	.word-list {
		flex: 0 0 auto;
	}
}

@media (min-width: $media-2col ) {
	.boggle-app {

		flex-flow: row nowrap;


		.boggle-board-container {
			flex: 0 0 auto;
		}

		.word-list {
			margin: 0;
		}
	}
}
