@import "../../scss/variables";

.boggle-die {
    position: relative;
    display: block;
    box-sizing: border-box;

    .boggle-die__letter {

        $padding: 0.2rem;
        position: absolute;
        top: $padding; right: $padding; bottom: $padding; left: $padding;

        display: flex;
        justify-content: center;
        align-items: center;
        
        border: 3px solid #ddd;
        border-radius: $board-max-width/20;
        background: #fff;
        font-size: $board-max-width/10;
        cursor: pointer;

        transition: background 0.5s;

        @media (max-width: $board-max-width)  {
            border-radius: 5vw;
            font-size: 10vw;
        }

        
    }

    .boggle-die__index {
        font-size: 12px;
        position: absolute;
        bottom: 1px; 
        left: 100%;
        transform: translateX(-8px)
    }

    &.selected .boggle-die__letter {
        background: #ffffe0;
    }
    &.cardinal .boggle-die__letter {
        background: #e0ffe0;
    }
    &.corner .boggle-die__letter {
        background: #ffe0e0;
    }

    &::after {
        content: "";
        display: block;
        padding-top: 100%;
    }

}
